.Global{
    width: 80%;
    margin: auto;
}
#banniere{
    background-image: url("HtmlCss.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 110px;
    width: 70%;
    margin: auto;
}
/*Menu*/
:root{
    --hauteur-menu: 60px;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}
.test {
    width: 100%;
    font-size: 14px;
    position: sticky;
    top: 0;
}
.test > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px black;
    height: var(--hauteur-menu);
}
.test ul {
    list-style-type: none;
}  
.test > ul > li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
}
.test > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
.test li a {
    text-decoration: none;
    color: black;
}
.menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}
.sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
}
.sous-menu > li > a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
}
.test > ul > li:hover > a{
    color: red;
}
.sous-menu > li:hover {
    background-color: red;
}
.sous-menu > li:hover > a {
    color: white;
}
.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
} 
.menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
}
@keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
}
@keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px black;
      border-top: 3px solid red;
    }
    30% {
      box-shadow: 0px 3px 3px 1px black;
    }
    100% {
      max-height: 50em;
      border-top: 3px solid red;
      box-shadow: 0px 3px 3px 1px black;
    }
}
.retraitPuces{
    margin-left: 40px;
}
#Puces{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#Titre1{
    color: red;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
#Titre2{
    color: green;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
#Formulaire{
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}
.CaseFormulaire{
    display: flex;
    justify-content: center;
}
#BoutonEnvoyer{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.form-merci{
    margin: 10px auto 10px auto;
    text-align: center;
    width: 80%;
}
table{
    border: 1px dashed black;
    margin: auto;
    margin-bottom: 50px;
}
caption{
    color: red;
    text-decoration: underline;
    padding-bottom: 15px;
}
tr{
    border: 1px dashed black;
}
th{
    border: 1px dashed black;
}
td{
    border: 1px dashed black;
}
.Gras{
    font-weight: bolder;
}
#Jaune{
    background-color: yellow;
}
#DivMaitremap{ /*pour aligner le bas*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#TextMap{
    border: 1px none black;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    width: 500px;
    height: 200px;
    border-radius: 25px;
}
#Mapgoogle{
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}
footer{
    display: flex;
    justify-content: center;
    background-color: red;
    color: white;
}
.pied{
    display: flex;
    align-items: center;
}
.pied a{
    text-decoration: none;
    color: white;
    transition: all 1s;
    margin-right: 15px;
    margin-left: 15px; 
}
.pied a:hover{
    text-decoration: underline;
}
.ppied{
    margin-right: 15px;
    margin-left: 15px;
}
