#banniere{
    background-image: url("HtmlCss.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 110px;
    width: 70%;
    margin: auto;
}
#Menu ul{
    list-style-type: none;
    padding: 0; margin: 25px;
    text-align: center;
}
#Menu li{
    display: inline;
    padding: 15px;
}
#Menu a{
    display: inline-block;
    margin: 10 50 10 50px;
    padding: 0 70px;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    width: 150px;
    height: 30px;
    line-height: 3 50 3 50px;
    border-radius: 20px;
    background-color: grey;
    color: blue;
    transition: all 1s;
}
#Menu a:hover{
    width: 170px;
    height: 40px;
    border-radius: 50px;
}
#Titre1{
    color: red;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
#Titre2{
    color: green;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
table{
    border: 1px dashed black;
    margin: auto;
    margin-bottom: 50px;
}
caption{
    color: red;
    text-decoration: underline;
    padding-bottom: 15px;
}
tr{
    border: 1px dashed black;
}
th{
    border: 1px dashed black;
}
td{
    border: 1px dashed black;
}
.Gras{
    font-weight: bolder;
}
#Jaune{
    background-color: yellow;
}
footer{
    display: flex;
    justify-content: center;
    background-color: red;
    color: white;
}
.pied a{
    text-decoration: none;
    color: white;
    transition: all 1s; 
}
.pied a:hover{
    text-decoration: underline;
}